HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.mvn


### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
logs

#mapflux-common/src/main/resources/
#mapflux-eureka/src/main/resources/static/
#mapflux-eureka/src/main/resources/templates/
#mapflux-user/src/main/java/com/cq/szyk/mapfluxuser/mapper/
#mapflux-user/src/main/java/com/cq/szyk/mapfluxuser/service/
#mapflux-user/src/main/resources/static/
#mapflux-user/src/main/resources/templates/
